.mainCard {
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0.5px 0.5px 2px dodgerblue;
}

.mainCard .titleTask {
    text-align: center;
}

.mainCard .btn-danger {
    float: right;
}

